UI Disable App/.vs/
UI Disable App/SetupInstaller/Release/SetupInstaller.msi
UI Disable App/SetupInstaller/Release/
UI Disable App/UI Disable App/bin/Debug/net9.0-windows/UI Disable App.deps.json
UI Disable App/UI Disable App/bin/Debug/
UI Disable App/UI Disable App/bin/
UI Disable App/UI Disable App/obj/
